<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>左右过度切换的登录注册页面演示</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        .face-login {
            margin-top: 100px;
            text-decoration: none;
        }

        .rpw {
            display: block;
            /* margin: 25px auto 0; */
            margin-top: 10px;
            /* padding-bottom: 20px; */
            text-align: center;
            /* width: 500px; */
            /* border: 1px red solid; */
            /* vertical-align: middle; */
            height: 10px;
            font-size: 5px;
        }
    </style>
</head>

<body>
    <div class="content" id="app">
        <div class="form sign-in">
            <h2>欢迎回来</h2>
            <label>
                <span>用户名</span>
                <input type="text" v-model="loginname" />
            </label>
            <label>
                <span>密码</span>
                <input type="password" v-model="password" v-on:keyup.enter="handleLogin" />
            </label>
            <!-- <p class="forgot-pass"><a href="javascript:">忘记密码？</a></p> -->
            <div class="rpw">
                <input type="checkbox" id="remember_password" @click="handleCheck" v-model="rpw" />记住密码
            </div>
            <button type="button" class="submit" @click="handleLogin">登 录</button>
            <button type="button" class="submit" @click="handleFaceLogin">刷 脸</button>
        </div>

    </div>

    <!-- <script src="js/login.js"></script> -->
    <script src="./static/axios.min.js"></script>
    <script src="./static/vue.js"></script>
    <script src="./js/utils.js"></script>
    <script>
        axios.defaults.withCredentials = true
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    loginname: "",
                    password: "",
                    rpw: false
                }
            },
            mounted: function () {
                let pw = localStorage.getItem('pw')
                let rpw = localStorage.getItem('rpw')
                let un = localStorage.getItem('un')
                if (rpw === '1' && pw != '' && un != '') {
                    this.password = pw
                    this.rpw = true
                    this.loginname = un
                }
            },
            methods: {
                handleLogin() {
                    let o = {
                        loginName: this.loginname,
                        password: this.password
                    }
                    postApi('/login', o).then(resp => {
                        console.log('seuucss');
                        console.log(resp);

                        this.savepw(this.rpw)
                        let accessToken = resp.data.accessToken
                        // console.log();

                        saveToken(accessToken)
                        toLocalUrl('./')
                    }).catch(error => {
                        let r = error.response
                        // console.log(r);
                        alert(r.data.message)
                        this.savepw(false)
                        this.rpw = false
                    })
                },
                handleFaceLogin() {
                    window.location.href = "./face/index.html"
                },
                handleCheck(e) {
                    let r = e.target.checked
                    // let r = true
                    this.rpw = r
                    // this.savepw(r)
                },
                savepw(r) {
                    if (r) {
                        localStorage.setItem('un', r ? this.loginname : '')
                        localStorage.setItem('pw', r ? this.password : '')
                        localStorage.setItem('rpw', r ? '1' : '0')
                    } else {
                        localStorage.removeItem('un')
                        localStorage.removeItem('pw')
                        localStorage.removeItem('rpw')
                    }
                }
            }
        })
    </script>
</body>

</html>